# BEGIN YOURLS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /s/
RewriteCond %{HTTPS}  !=on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /s/yourls-loader.php [L]
</IfModule>
# END YOURLS